In [75]:
import pandas as pd
import itertools

In [76]:
max_tiling_seq = "AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAAAGTG" # C0=2.309134
min_tiling_seq = "CCTTGCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAAAAAA" # C0=-3.159908

In [77]:
max_seq = max_tiling_seq[5:-5]
min_seq = min_tiling_seq[5:-5]

In [78]:
max_seq

'AAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAA'

In [79]:
min_seq

'CGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAA'

In [80]:
nucleotides = ["A", "C", "G", "T"]

In [81]:
def get_rev_comp(seq):
    comp_map = {"A": "T",
                "C": "G",
                "G": "C",
                "T": "A"}
    ret =""
    for bp in reversed(seq):

        ret += comp_map[bp]
    return ret

In [82]:
get_rev_comp("AATTCG")

'CGAATT'

In [83]:
combinations = itertools.product(nucleotides, repeat=10)
decamers = dict()
# rev_comps = dict()
for i, a in enumerate(combinations):
    cur_seq = "".join(a)
    
    # if cur_seq in rev_comps:
    #     continue
    # cur_rev_comp = get_rev_comp(cur_seq)

    decamers[cur_seq]=None
    # rev_comps[cur_rev_comp]=None
    # if i == 10:
    #     print("stop")
    #     break

In [84]:
len(decamers)

1048576

In [85]:
max_seqs = []
min_seqs = []
for i, decamer in enumerate(decamers):
    max_seqs.append(decamer[:5]+max_seq+decamer[5:])
    min_seqs.append(decamer[:5]+min_seq+decamer[5:])

In [86]:
max_seqs.extend(min_seqs)

In [87]:
len(max_seqs)

2097152

In [88]:
len(max_seqs[0])

50

In [89]:
dat = pd.DataFrame(max_seqs)

In [90]:
dat.columns = ["sequence"]

In [91]:
dat

                                                  sequence
0        AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAA...
1        AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAA...
2        AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAA...
3        AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAA...
4        AAAAAAAAAAAAAAAAAGAGGCTTTAGATCTCAAAGGGCCGAAAAA...
...                                                    ...
2097147  TTTTTCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAT...
2097148  TTTTTCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAT...
2097149  TTTTTCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAT...
2097150  TTTTTCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAT...
2097151  TTTTTCGAATTTTCGCGAAAGGAAAAAGTGAAAAAATATGAAAAAT...

[2097152 rows x 1 columns]

In [92]:
dat.to_csv(f"/Users/Brody1/Dropbox/Northwestern/DNA_Cyclizability/data/Created/context_library.csv", index=False)